/* Add your camera-specific styles here */
.camera {
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 144);
    overflow: hidden;
    background: #61ddf7;
    position: relative;
  }
  